@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik";
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #0b2072;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.logo {
    font-size: 29px;
    font-family: "Secular-One";
    display: flex;
    align-items: center;
    margin: 0;
}
.logo img {
    width: 40px;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}
 .navbar ul li {
    margin: 0 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.logout{
    margin-right: 10px;
}
.profile-container {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.profile-header {
    display: flex;
    align-items: center;
}
.profile-header img {
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 20px;
}
.profile-details div {
    margin-bottom: 10px;
}
.edit-icon {
    margin-left: 10px;
    cursor: pointer;
}